 /* Report Table Styles */
 .table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  tr[data-flag="1"] {
    background-color: red;
  }

  
  th,
  td {
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color:#082533;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e6f7ff;
    cursor: pointer;
  }
  

  .tablenav-container {
   
    font-family: Arial, sans-serif;
  }

  .tablenav-container th {
    background-color: #082533;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
  }

  .tablenav-container tr {
    background-color: #f6f6f6;
    color: rgb(23, 1, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }

  #lics{

    color:rgb(32, 32, 31);
    



  }