 /* Report Table Styles */
 .table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  tr[data-flag="1"] {
    background-color: red;
  }

  
  th,
  td {
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color: #333333;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color:rgb(212, 255, 0);
    cursor: pointer;
  }
  

  .tablenav-container {
   
    font-family: Arial, sans-serif;
  }

  .tablenav-container th {
    background-color: #082533;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
  }

  .tablenav-container tr {
    background-color: #f6f6f6;
    color: rgb(23, 1, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
  }

  #fir
  {
    width:10%;
  }


  .legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .red {
    background-color: red;
  }
  
  .grey {
    background-color: grey;
  }
  
  .legend-label {
    font-size: 16px;
    font-weight: bold;
  }
  