<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--included styles-->
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="./styles/filter.css">
    <link rel="stylesheet" href="./styles/map.css">
    <link rel="stylesheet" href="./styles/toggle.css">
    <link rel="stylesheet" href="./styles/sliding_panel.css">
    <link rel="stylesheet" href="./styles/report_table.css">
   
   <!--included scripts-->
   
    <script src="./scripts/filter.js"></script>
    <script src="./scripts/map.js"></script>
    <script src="./scripts/popup.js"></script>
    <script src="./scripts/table.js"></script>
    <script src="./scripts/toggle_table.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <title>Document</title>
   
</head>
<body>

  <div id="popup-container">
    <div id="popup">
      <span class="close" onclick="closePopup()">&times;</span>
      <div id="images-container">
        <div id="mapid"></div>
    

      </div>
    </div>
  </div>

  
  <div id="background"></div>


    <header>Header</header>
  
  
    <div id="main"> 

    
        
      <article><div class="table-container">
        <div class="filter-container">
          <div class="filter-group">
            <label for="date-filter">Filter by Date:</label>
            <input type="date" id="date-filter">
          </div>
          
          <div class="filter-group">
            <label for="location-filter">Filter by Location:</label>
            <input type="text" id="location-filter">
          </div>
          <button id="filter-button" onclick="filter()">Filter</button>
          
      <label class="toggle">
        <input class="toggle-checkbox" type="checkbox" onclick="toggleTableRows(this)">
        <div class="toggle-switch"></div>
        <span class="toggle-label">Flagged</span>
      </label>
          
        </div>
        <div class="tablex">
        <table>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>License Number</th>
              <th>Color</th>
              <th>Make and Model</th>
              <th>Location</th>
              <th>Date</th>
              <th>Flag</th>
              <th>show map</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
              <td><button onclick="showPopup()">Show Images</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
            <tr>
              <td>1</td>
              <td>AB1234</td>
              <td>Red</td>
              <td>Honda Civic</td>
              <td>New York</td>
              <td>2022-01-01</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CD5678</td>
              <td>Blue</td>
              <td>Toyota Corolla</td>
              <td>Los Angeles</td>
              <td>2022-02-15</td>
              <td>yes</td>
            </tr>
            <tr>
              <td>3</td>
              <td>EF9012</td>
              <td>Green</td>
              <td>Ford Mustang</td>
              <td>Miami</td>
              <td>2022-03-30</td>
              <td>No</td>
            </tr>
           
            
            
          
        
          </tbody>
        </table>
    </div>
      </div></article>
      <nav>Nav</nav>
      <aside>Aside</aside>
    </div>
    <footer>Footer</footer>
    
    
 
  </body>

        

</html>