<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--included styles-->
   
      <!-- Leaflet CSS file -->
     
    
    <link rel="stylesheet" href="../static/css/main.css">
    
    <link rel="stylesheet" href="../static/css/filter.css">
    <link rel="stylesheet" href="../static/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/css/toggle.css">
    <link rel="stylesheet" href="../static/css/sliding_panel.css">
    <link rel="stylesheet" href="../static/css/report_table.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/aside.css">
    <link rel="stylesheet" href="../static/css/nav_buttons.css">
    

    <!-- for graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
   
   <!--included scripts-->
   
    <script src="../static/js/filter.js"></script>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
    <script src="../static/js/popup.js"></script>
    <script src="../static/js/table.js"></script>
    <script src="../static/js/toggle_table.js"></script>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/find.js"></script>
    <!-- <script src="../static/js/graph.js"></script> -->

   

  
     


      <!-- Leaflet JavaScript library -->
    



    <title>Document</title>
  
    
   
</head>
<body>


<!--         
 

  <div id="popup-container">
    <div id="popup">
      <span class="close" onclick="closePopup()">&times;</span>
      <div id="images-container">

 
        <div id="mapid">

          <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
          <script src="../static/js/map.js"></script>
        </div>  
       
    
      </div>
    </div>
  </div> -->

  
  <div id="background"></div>


  <header>
    <div class="header-container">
      <div id="logo">
        <img id="logo_" src="../static/assets/tracklogo2..png">
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">RTO Update</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  
    <div id="main"> 

    
        
      <article><div class="table-container">
        <div class="filter-container">
          <div class="filter-group">
            <label for="date-filter">Filter by Date:</label>
            <input type="date" id="date-filter">
          </div>
          
          <div class="filter-group">
            <label for="location-filter">Filter by Location:</label>
            <input type="text" id="location-filter">

          </div>
          <button id="filter-button" onclick="filter()">Filter</button>
          
      <label class="toggle">
        <input class="toggle-checkbox" type="checkbox" onclick="toggleTableRows(this)">
        <div class="toggle-switch"></div>
        <span class="toggle-label">Flagged</span>
      </label>
          
        </div>
        <div class="tablex">
        <table>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>License Number</th>
              <th>Make</th>
              <th>Model</th>
              <th>Color</th>
              <th>Location</th>
              <th>Date</th>
              <th>Time</th>
              <th>Flag</th>
              <th>show map</th>  
            </tr>
          </thead>
          <tbody>
          
        
          </tbody>
        </table>
    </div>
      </div>
      <div class="legend">
        <div class="legend-item">
          <div class="legend-color red"></div>
          <div class="legend-label">Flagged cars</div>
        </div>
        <div class="legend-item">
          <div class="legend-color grey"></div>
          <div class="legend-label">FIR registered cars</div>
        </div>
      </div>
      
    
    </article>
      <nav>

          
          <label for="vehicle-license-number" style="color: #666666;">Vehicle License Number:</label>
          <input type="text" id="vehicle-license-number" name="vehicle-license-number" value="enter" style="margin-top: 10px;">
          <button id="search-button" onclick="search()">Go</button>
        

        <div class="tablenav-container">
          <div class="tablexx">
          <table>
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
              
              </tr>

              </thead>
              <tbody>
             

              </tbody>


              </table>


            </div>
        </div>
        <div id="owner-Details" style="margin-top: 14px; background-color: bisque; box-shadow: 0cap;">
        <div id="name" style="font-size: 12px;">

          <img src="../static/assets/man.png" style="height: 30px; width: 30px;"> Tushar Dnyaneshwar Avhad
      </div>
      
      <div id="contact" style="font-size: 12px;">
      
          <img src="../static/assets/telephone.png" style="height: 30px; width: 30px;"> 7248923678
      </div>
      
      <div id="Address" style="font-size: 12px;">
      
          <img src="../static/assets/location.png" style="height: 30px; width: 30px;"> 12/B Rajsamarthkrupa housing society ,nashik road
      </div>
    </div>

      </nav>
      <aside>
      <div class="counter-card">
        <h2 class="counter-value">0</h2>
        <p class="counter-label">Vehicles flagged</p>
      </div>

      <div class="counter-card2">
        <h2 class="counter-value2">0</h2>
        <p class="counter-label2">Fir registered</p>
      </div>


      <canvas id="line-graph" width="280" height="240"></canvas>

      <script>
        

// Data for the line graph
const data = {
    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
    datasets: [{
        label: 'Amount of Cars Flagged',
        data: [0.3, 0.4, 0.7, 0.3, 0.5, 0.6],
        fill: false,
        borderColor: 'red',
        lineTension: 0.1
    }]
};

// Configuration options for the line graph
const options = {
    animation: {
        duration: 3000,
        easing: 'easeInOutQuart'
    },
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
                max: 1
            }
        }]
    }
};

// Create the line graph
const lineGraph = new Chart(document.getElementById('line-graph'), {
    type: 'line',
    data: data,
    options: options
});

      </script>
    </aside>
    </div>
    <footer>Footer</footer>
    

    <!-- <script type="text/javascript" src="https://unpkg.com/leaflet-geojson@1.7.1/dist/leaflet-geojson.js"></script> -->

    <script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  </body>

        
</html>