<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--included styles-->
    <link rel="stylesheet" href="../static/css/main.css">
    
    <link rel="stylesheet" href="../static/css/filter.css">
    <link rel="stylesheet" href="../static/css/map.css">
    <link rel="stylesheet" href="../static/css/toggle.css">
    <link rel="stylesheet" href="../static/css/sliding_panel.css">
    <link rel="stylesheet" href="../static/css/report_table.css">
    <link rel="stylesheet" href="../static/css/nav.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
   
   <!--included scripts-->
   
    <script src="../static/js/filter.js"></script>
    <script src="../static/js/map.js"></script>
    <script src="../static/js/popup.js"></script>
    <script src="../static/js/table.js"></script>
    <script src="../static/js/toggle_table.js"></script>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/find.js"></script>
   

  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    
    
    

    <title>Document</title>
  
    
   
</head>
<body>

  <div id="popup-container">
    <div id="popup">
      <span class="close" onclick="closePopup()">&times;</span>
      <div id="images-container">
        <div id="mapid">

          
        </div>
    

      </div>
    </div>
  </div>

  
  <div id="background"></div>


    <header>Header</header>
  
  
    <div id="main"> 

    
        
      <article><div class="table-container">
        <div class="filter-container">
          <div class="filter-group">
            <label for="date-filter">Filter by Date:</label>
            <input type="date" id="date-filter">
          </div>
          
          <div class="filter-group">
            <label for="location-filter">Filter by Location:</label>
            <input type="text" id="location-filter">

          </div>
          <button id="filter-button" onclick="filter()">Filter</button>
          
      <label class="toggle">
        <input class="toggle-checkbox" type="checkbox" onclick="toggleTableRows(this)">
        <div class="toggle-switch"></div>
        <span class="toggle-label">Flagged</span>
      </label>
          
        </div>
        <div class="tablex">
        <table>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>License Number</th>
              <th>Make</th>
              <th>Model</th>
              <th>Color</th>
              <th>Location</th>
              <th>Date</th>
              <th>Time</th>
              <th>Flag</th>
              <th>show map</th>  
            </tr>
          </thead>
          <tbody>
          
        
          </tbody>
        </table>
    </div>
      </div></article>
      <nav>

          
          <label for="vehicle-license-number" style="color: #666666;">Vehicle License Number:</label>
          <input type="text" id="vehicle-license-number" name="vehicle-license-number" value ="Enter" style="margin-top: 10px;">
          <button id="search-button" onclick="search()">Go</button>
        

        <div class="tablenav-container">
          <div class="tablexx">
          <table>
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
              
              </tr>

              </thead>
              <tbody>
             

              </tbody>


              </table>


            </div>
        </div>


      </nav>
      <aside>Aside</aside>
    </div>
    <footer>Footer</footer>
    
    
 
  </body>

        

</html>